@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

.pack-sections{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;
    text-align: left;
    position: relative;
    width: 782px;
    left: 203px;
    top: 1157px;
    height: auto;

}

.activity-box{
    display: flex;
    flex-direction: row;
    gap: 50px;
    top: 0px;
}

.activity-text{
    /* Frame 4 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 50px;
    padding: 55px 75px 75px;
    background: #F9F4EF;
    border-radius: 20px;
    width: 632px;
    height: 754px;
    left: 28px;
}

.pack-title{
    /* Frame 14 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 630px;
    height: 64px;
    /* Activities */
    /*width: 517px;*/
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;
    color: #484848;
}
.pack-details-lines{
    /* Line 5 */
    width: 630px;
    height: 0px;
    border: 1px solid #333333;
}
.pack-activity-section{
    /* Frame 40 */
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
    width: 307.33px;
    height: auto;
}

.pack-icons{
    /* Frame 38 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
    width: 53.33px;
    height: 490px;
}

.pack-activity-list{
    /* Frame 39 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 50px;
    width: 204px;
    height: 490px;
    text-align: left;
}

.activity-items{
    /* Sightseeing */
    width: 204px;
    height: 40px;
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #484848;
}

.itinerary-box{
    display: flex;
    flex-direction: row;
    gap: 50px;
    top: 0px;
}

.itinerary-text{
    /* Frame 4 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 55px 75px 75px;
    gap: 50px;
    background: #F9F4EF;
    border-radius: 20px;
    width: 632px;
    left: 0px;
}

.itinerary-title{
    /* Frame 14 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 630px;
    height: 64px;
    /*width: 517px;*/
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 64px;
    color: #484848;
}



.day-group{
    /* Frame 22 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    padding-bottom: 3vh;
    width: 627px;
    height: 153px;
    order: 4;
}

.itinerary-days{
    /* Frame 24 */
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 64px;
    height: 40px;
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #484848;
}

.itinerary-titles{
    /* Arrival in Kathmandu Arrive at Tribhuvan International Airport. Transfer to the hotel. Evening stroll in Thamel. */
    width: 513px;
    position: relative;
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 38px;
    color: #333333;
    text-align: left;
}

.itinerary-desc{
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    left: 28px;
}

.itinerary-desc-item{
    width: 500px;
    color: #333333;
}

.itinerary-lines{
    /* Line 6 */
    width: 530px;
    height: 0px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    margin-top: 120px;
    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.booking-box{
    display: flex;
    flex-direction: row;    
    gap: 50px;
    top: 0px;
}

.booking-frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 55px 75px 75px;
    gap: 50px;
    background: #F9F4EF;
    border-radius: 20px;
    width: 632px;
    height: 451px;
    left: 28px;
}

.pack-book-text{
    /* Embark on a journey of a lifetime to the Heart of the Himalayas with our exclusive Nepal Tour Package. From breathtaking landscapes to rich cultural heritage, experience the best of Nepal with us. Secure your adventure today! */

    width: 630px;
    height: 160px;
    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: #484848;
}

.book-btn{
    /* Frame 2 */

    /* Auto layout */
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;
    border: none;
    width: 349px;
    height: 47px;

    background: linear-gradient(90deg, #FF9900 0%, #FF6B00 100%);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    font-family: 'Sen', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.book-btn:hover{
    cursor: pointer;
}

.book-btn:active{
    box-shadow: none;
    transform: translate(4px, 4px);
}

.pack-icon{
    /* Frame 21 */
    /* Auto layout */
    width: 164px;
    height: 164px;
}

@media screen and (max-width: 1140px) {
    .pack-icon{
        display: none;
    }

    .pack-sections{
        left: 50px;
        top: 1000px;
    }

    .pack-title{
        /* Activities */
        width: 280px;
        height: 56px;
        font-weight: 900;
        font-size: 42px;
        line-height: 56px;
        order: 1;
    }

    .pack-icons{
        /* Frame 38 */
        width: 27px;
        height: 270px;
    }

    .pack-activity-section{
        order: 3;
        height: min-content;
    }

    .pack-activity-list{
        /* Frame 39 */
        padding: 0px;
        gap: 30px;
        width: 163px;
        height: 270px;
        /*order: 3;*/
    }
    .activity-items{
        /* Sightseeing */
        width: 176px;
        height: 20px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
    .activity-text{
        height: auto;
        width: auto;
    }
    .pack-details-lines{
        /* Line 5 */
        width: 280px;
        height: 0px;
        border: 1px solid #333333;
        order: 2;
    }

    .day-group{
        /* Frame 25 */
        /* Auto layout */
        padding: 0px;
        height: 190px;
    }

    .itinerary-days{
        /* Day 1: */
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
    }

    .itinerary-text{
        width: 310px;
    }

    .itinerary-titles{
        font-weight: 800;
        font-size: 16px;
        line-height: 30px;
        width: 180px;
    }

    .itinerary-desc{/* Arrival in Zurich Arrive at Zurich Airport. Transfer to the hotel. Explore Zurich Old Town (Altstadt) and visit the Swiss National Museum. Stroll along Bahnhofstrasse for shopping. Overnight in Zurich. */
        font-size: 12px;
    }

    .itinerary-desc-item{
        width: 150px;
    }

    .itinerary-lines{
        /* Line 6 */

        width: 250px;
        height: 0px;
        border: 1px solid rgba(51, 51, 51, 0.2);
        margin-top: 130px;
    }

    .pack-book-text{
        order: 3;
        max-width: 230px;
        /* Embark on a journey of a lifetime to the Jewel of the Alps with our exclusive Switzerland Tour Package. From breathtaking landscapes to rich cultural heritage, experience the best of Switzerland with us. Secure your adventure today! */
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
    }

    .book-btn-link{
        order: 4;
    }

    .book-btn{
        /* Frame 2 */
        justify-content: center;
        align-items: center;
        padding: 10px 30px;
        width: 100%;
        height: auto;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        margin-top: 70px;
    }
    .booking-frame{
        width: 310px;
    }
}