.landing-cards{
    top: 0;
    left: 120px;
    width: 1248px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 17px; 
    order: 3; 
    object-fit: cover;
}

.footer-gap{
        position:relative;
        min-height:710vh;
        display: flex; 
        flex-direction: column; 
        overflow: hidden;
}

@media screen and (max-width:1140px){
    .landing-cards{
        flex-direction: column;
        left: 10.5%;
    }
    .footer-gap{
        min-height: 450vh;
     }
}

@media screen and (max-width:1140px) and (max-height: 800px) {
    .footer-gap{
        min-height: 920vh;
    }
}


@media screen and (max-width: 855px) {
    .footer-gap{
        min-height: 610vh;
    }
}

@media screen and (max-width: 550px) {
    .footer-gap{
        min-height: 780vh
    }
}
@media screen and (max-width: 450px) and (max-height: 1000px) {
    .footer-gap{
        min-height: 600vh;
    }
}


@media screen and (max-width: 414px) and (max-height: 844px) {
    .footer-gap{
        min-height : 830vh;
    }
}

@media screen and (max-width: 350px) and (max-height: 900px) {
    .footer-gap{
        min-height : 650vh;
    }
}